<button (click)="getUserBooking()">My Bookings</button>
<button (click)="appHome()">Home</button>

<div class="container">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" [(ngModel)]="username">
    <button class="btn btn-primary mt-2" (click)="fetchUser()">Fetch User</button>
    <button class="btn btn-secondary mt-2 ml-2" (click)="getAllUsers()">User List</button>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    {{ successMessage }}
  </div>

  <table *ngIf="user && user.length > 0" class="table table-striped mt-3">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Title</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of user">
        <td>{{ user.userID }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.mobileNumber }}</td>
        <td>{{ user.gender }}</td>
        <td>{{ user.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
