<div class="container">
    <h2> User Information </h2>
    <form [formGroup]="userhomeform" (ngSubmit)="addUserDetails()">
    <div class="parent-1">
        <div class="form-group">
            <label for="title"><b>Title :</b></label>
            <select id="title" class="form-control" formControlName="title">
                <option value="" disabled>Title</option>
                <option value="Miss">Ms</option>
                <option value="Misses">Mrs</option>
                <option value="mister">Mr</option>
             </select>
        </div>
        
        <div class="form-group">
            <label for="firstname"><b>FirstName :</b></label>
            <input type="text" id="firstname" class="form-control" placeholder="Enter First Name">
        </div>
    
        <div class="form-group">
            <label for="lastname"><b>LastName :</b></label>
            <input type="text" id="lastname" class="form-control" placeholder="Enter Last Name">
        </div>
        
    </div>
    <hr>
    <div class="parent-2">
        
    <div class="form-group">
        <label for="email" class="form-lable"><b>Email :</b></label>
        <input type="text" id="email" class="form-control" placeholder="Enter Email">
    </div>
    
    <div class="form-group">
        <label for="mobilenumber" class="form-lable"><b>Mobile No :</b></label>
        <input type="text" id="mobileNumber"class="form-control" placeholder="Enter Mobile Number">
    </div>
    
    </div>
    <hr>
    <div class="parent-3">
        
    <div class="form-group">
        <label for="age"><b>Age :</b></label>
        <select id="age" class="form-control" formControlName="age">
            <option value="" disabled>Select Age</option>
            <option *ngFor="let age of ages"[value]="age">{{ age }}</option>
         </select>
    </div>
    
    <div class="form-group">
        <label for="gender"><b>Gender :</b></label>
        <select name="gender" class="form-control" formControlName="gender">
         <option value="" disabled>Select Gender</option>
           <option value="male">Male</option>
           <option value="female">Female</option>
           <option value="other">Other</option>
        </select>
    </div>
    </div>
    
    <div class="btn"><button  type="submit"
        class="btn btn-primary">
        Add Passenger
        </button></div>
    </form>
 </div>
