
.container {
    width: 400px;
    height: 600px;
    margin-top: 10 px;
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;
}

.col-2 {
    color: white;
    font-size: x-large;
}