
<div class="container">
    <h1>Admin Dashboard</h1>
  
  <li class="nav-link nav_anchor" aria-current="page" >Booking </li>
    <li class="nav-item">
      <a class="nav-link nav_anchor" aria-current="page">plane</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link nav_anchor" aria-current="page">Route</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link nav_anchor" aria-current="page">Schedule</a>
    </li>
  
  <li class="nav-item">
  <a class="nav-link nav_anchor" aria-current="page">User</a>
  </li>
  <router-outlet></router-outlet>