<div class="password-change-form">
  <h2 style="color: aliceblue;">Change Password</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="password" style="color: aliceblue;">New Password:</label>
      <input type="password" id="password" [(ngModel)]="login.password" name="password" required>
    </div>
    <div>
      <label for="confirmPassword" style="color: aliceblue;">Confirm Password:</label>
      <input type="password" id="confirmPassword" [(ngModel)]="login.confirmPassword" name="confirmPassword" required>
    </div>
    <div *ngIf="passwordMismatch" class="error">
      Passwords do not match.
    </div>
    <button type="submit" [disabled]="passwordMismatch">Change Password</button>
  </form>

  <div *ngIf="message" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
    {{ message }}
  </div>
</div>
