<!-- Bootstrap Navbar -->
<nav class="navbar navbar-expand-sm">
  <a class="navbar-brand nav_anchor">{{title}}</a>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link nav_anchor" aria-current="page" (click)="navigatesignup()">SignUp</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav_anchor" aria-current="page" (click)="navigatelogin()">Login</a>
      </li>
      
    </ul>
    <ul class="navbar-nav ms-auto ">

      <li class="nav-item dropdown" *ngIf="username!=undefined">
        <a class="nav-link dropdown-toggle nav_anchor" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ username }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item nav_anchor" (click)="userProfile()">Profile</a></li>
          <li><a class="dropdown-item nav_anchor" href="#">Change Password</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="d opdown-item nav_anchor" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
  
<div class="router_outlet">
  <router-outlet></router-outlet>
</div>