  
  
  <!-- PART 1: Create  Schedule -->
     <h3 style="color: white;">Create  Schedule</h3>

     <form [formGroup]="scheduleform" (ngSubmit)="addSchedule()">
      <div class="parent3" class="container">
        <div class="parent1">
          <div class="mb-3">
            <label for="source" class="form-label"> 
            <h2 style="color: white;">Source</h2>
          </label>
              <select id="source" class="form-control" formControlName="source">
                  <option *ngFor="let c of Cities" >{{ c }}</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="destination" class="form-label"><h2 style="color: white;">Destination</h2></label>
               <select id="destination" class="form-control" formControlName="destination">
              <option *ngFor="let c of Cities" >{{ c }}</option>
          </select>
          </div>
          <div class="mb-3">
            <label for="d_date" class="form-label"><h2 style="color: white;">Departure Date and Time</h2></label>
            <input
              type="date"
              class="form-control"
              id="d_date"
              formControlName="d_date"
            />
            <input type="time" id="d_time" formControlName="d_time"/>
          </div>
          <div class="mb-3">
            <label for="a_date" class="form-label"><h2 style="color: white;">Arrival Date and Time</h2></label>
            <input
              type="date"
              class="form-control"
              id="a_date"
              formControlName="a_date"
            />
            <input type="time" id="a_time" formControlName="a_time"/>
          </div>
        </div>  
        <div class="parent2">
          <label for="fare" class="form-label"> 
            <h2 style="color: white;">Fare: </h2>
            <input type="text" id="fare" formControlName="fare">
          </label>
          <label for="planeId" class="form-label"> 
            <h2 style="color: white;">Plane Id: </h2>
            <input type="text" id="planeId" formControlName="planeId">
          </label>
          <button class="btn btn-success" type="submit">Add Schedule</button>
        </div>
      </div >
      <div *ngIf="errorMessage" class="text-info">
        <h3>{{errorMessage}}</h3>
      </div>
      <div *ngIf="successMessage" class="text-info">
        <h3>{{successMessage}}</h3>
      </div>
     </form>

   <!-- PART 2: view scedule by source destinationand departure date and time -->

     <form [formGroup]="scheduleform" (ngSubmit)="fetchSchedule()">
      <div class="parent3" class="container">
        <div class="parent1">
          <div class="mb-3">
            <label for="source" class="form-label"> 
            <h2 style="color: white;">Source</h2>
          </label>
              <select id="source" class="form-control" formControlName="source">
                  <option *ngFor="let c of Cities" >{{ c }}</option>
              </select>
          </div>
          <div class="mb-3">
            <label for="destination" class="form-label"><h2 style="color: white;">Destination</h2></label>
               <select id="destination" class="form-control" formControlName="destination">
              <option *ngFor="let c of Cities" >{{ c }}</option>
          </select>
          </div>
          <div class="mb-3">
            <label for="date" class="form-label"><h2>Date</h2></label>
            <input
              type="date"
              class="form-control"
              id="date"
              formControlName="date"
            />
          </div>
          <div class="parent2">
            <button 
            [disabled]="scheduleform.invalid"
      type="submit" [disabled]="scheduleform.value.source === scheduleform.value.destination"
      class="btn btn-success" type="submit" (click)="fetchSchedule()">Fetch Schedule</button>
          </div>
        </div>
        <div *ngIf="Schedule.length!=0"  class="parent">
          <table class="table table-striped">
              <thead style="font-size: 25px;">
                  <tr>
                  <th>Plane Id</th>
                  <th>Source</th>
                  <th>Destination</th>
                  <th>Departure Date</th>
                  <th>Arrival Date</th>
                  <th>Fare</th>
                  <th>Schedule id</th>
                  </tr>
              </thead>
              <tr *ngFor="let s of Schedule">
                  <td>{{ s.planeId }}</td>
                  <td><h6>{{ s.source | uppercase}}</h6></td>
                  <td><h6>{{ s.destination| uppercase }}</h6></td>
                  <td><h4>{{ s.departureDateTime | date :'h:mm a' }}</h4>{{ s.departureDateTime | date :'dd MMM yyyy' }} </td>
                  <td><h4>{{ s.arrivalDateTime | date :'h:mm a' }}</h4>{{ s.arrivalDateTime | date :'dd MMM yyyy' }} </td>
                  <td><h6>{{ s.fare | currency:'INR'}}</h6></td>
                  <td>{{s.id}}</td>
                  <td><button class="btn btn-primary">Update</button></td>
               </tr>
               <div>
                    <div *ngIf="errorMessage" class="text-danger parent">
                      {{errorMessage}}
                    </div>
                    <div *ngIf="successMessage" class="text-info parent">
                      {{successMessage}}
                    </div>
              </div>
          </table>
       </div>
      </div>
    </form>
    
    <!-- PART 3: View Schedule List -->
    <form [formGroup]="scheduleform" (ngSubmit)="getAllSchedule()">
      <div>
       <button type="submit"
          class="btn  btn-primary" (click)="getAllSchedule()">View Schedule List
       </button>
     </div>
      <div *ngIf="Schedule.length!=0"  class="parent">
       <table class="table table-striped">
           <thead style="font-size: 25px;">
               <tr>
               <th>Plane Id</th>
               <th>Source</th>
               <th>Destination</th>
               <th>Departure Date</th>
               <th>Arrival Date</th>
               <th>Fare</th>
               <th>Schedule id</th>
               </tr>
           </thead>
           <tr *ngFor="let s of Schedule">
               <td>{{ s.planeId }}</td>
               <td><h6>{{ s.source | uppercase}}</h6></td>
               <td><h6>{{ s.destination| uppercase }}</h6></td>
               <td><h4>{{ s.departureDateTime | date :'h:mm a' }}</h4>{{ s.departureDateTime | date :'dd MMM yyyy' }} </td>
               <td><h4>{{ s.arrivalDateTime | date :'h:mm a' }}</h4>{{ s.arrivalDateTime | date :'dd MMM yyyy' }} </td>
               <td><h6>{{ s.fare | currency:'INR'}}</h6></td>
               <td>{{s.id}}</td>
               <td><button class="btn btn-primary">Update</button></td>
            </tr>
            <div>
                 <div *ngIf="errorMessage" class="text-danger parent">
                   {{errorMessage}}
                 </div>
                 <div *ngIf="successMessage" class="text-info parent">
                   {{successMessage}}
                 </div>
           </div>
       </table>
    </div>
   </form>
     
      
    

