<div class="row container-fluid">
  <div class="col-4">
    <h5 style="color: white;">Create Schedule</h5>
    <button type="button" class="btn btn-primary" (click)="navigateToChild('create-schedule')">
      Create
    </button>
  </div>
  <div class="col-4">
    <h5 style="color: white;">View All Schedule</h5>
    <button type="button" class="btn btn-primary" (click)="navigateToChild('getall-schedule')">
      View All
    </button>
  </div>
  <div class="col-4">
    <h5 style="color: white;">Fetch Schedule</h5>
    <button type="button" class="btn btn-primary" (click)="navigateToChild('fetch-schedule')">
      Fetch
    </button>
  </div>
</div>

<router-outlet></router-outlet>