.parent {
    display: flex;
    justify-content: space-around;
    margin: auto, 10%;
    padding: 30px;
}

.source {
    border: solid;
    color: rgb(191, 71, 71);
    padding: 20px;
    border-radius: 20px;
}

.destination {
    border: solid;
    color: rgb(191, 71, 71);
    padding: 20px;
    border-radius: 20px;
}

.date {
    border: solid;
    color: rgb(191, 71, 71);
    padding: 20px;
    border-radius: 20px;
}

.searchbtn {
    display: flex;
    justify-content: center;
}