.parent {
     display: flex;
     justify-content: space-around;
     margin: 450px, 400px;
     padding: 30px;
    

}

.fromDiv {
    border: solid;
    color: rgb(191, 71, 71);
    padding: 50px;
    border-radius: 20px;

}

.toDiv {
    border: solid;
    color: rgb(191, 71, 71);
    padding: 50px;
    border-radius: 20px;
}
.searchbtn{
    
        display: flex;
        justify-content: center;
        background-color:rgb(7, 4, 4) ;
       
        
        /* padding: 30px;
        border: 10px; */
}
.btn{
    margin-left: 600px;  
}
