<div class="center-box" style="height: 30%; width: 20%; margin: 11%40%">


<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    
        <form [formGroup]="forgotPassword" (ngSubmit)="submit()">
            <hr>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Username" name="username" formControlName="username"/>
              <div
                class="alert alert-danger"
                *ngIf="forgotPassword.controls['username'].invalid && forgotPassword.controls['username'].dirty"
              >
                please enter a valid user username.
              </div>
            </div>
        
            <div class="mb-3">
              <label for="mobileNo" class="form-label"> Mobile Number</label>
              <input type="text" class="form-control" id="mobileNo" placeholder="Mobile Number" name = "mobileNo" formControlName="mobileNo"/>
              <div
                class="alert alert-danger"
                *ngIf="forgotPassword.controls['mobileNo'].invalid &&
                forgotPassword.controls['mobileNo'].dirty"
              >
                please enter a valid mobile number.
              </div>
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">New Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password" name = "password" formControlName="password"/>
              <div
                class="alert alert-danger"
                *ngIf="forgotPassword.controls['password'].invalid &&
                forgotPassword.controls['password'].dirty"
              >
                please enter a valid password.
              </div>
            </div>
        <button type="submit">Submit</button>
    </form>
</div>
<div *ngIf="errorMessage" class="text-danger">
    {{errorMessage}}
  </div>
  <div *ngIf="successMessage" class="text-danger">
    {{successMessage}}
  </div>
</div>
<router-outlet></router-outlet>