<div class="center-box" style="height: 30%; width: 20%; margin: 11%40%">


<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    
        <form [formGroup]="forgotPassword" (ngSubmit)="submit()">
            <hr>
        <div class="mb-3">
            <label for="Username"><b>Username</b></label>
            <input id="Username" formControlName="Username" placeholder="Username" class="form-control" name="username"  type="text">
           <div class="alert alert-danger"
           *ngIf="forgotPassword.controls['username'].invalid && forgotPassword.controls['username'].dirty ">
           Please enter a valid Uername
        </div> 
        </div>
        <div class="mb-3">
            <label for="mobileNo"><b>mobileNo</b></label>
            <input id="mobileNo" formControlName="mobileNo" placeholder="mobileNo" class="form-control"  name="mobileNo" >
            <div
            class="alert alert-danger"
            *ngIf="forgotPassword.controls['mobileNo'].invalid && forgotPassword.controls['mobileNo'].dirty">
            please enter valid mobileNo.
        </div>
        </div>


        









        <div class="mb3">
            <label for="newPassword"><b>newPassword</b></label> 
            <input id="newPassword" formControlName="newPassword" placeholder="newPassword" class="form-control" name="newPassword" type="password">
       <div class="alert alert-danger"
       *ngIf="forgotPassword.controls['newPassword'].invalid && forgotPassword.controls['newPassword'].dirty"
       please enter valid mobileNo>
    </div>
        </div>


        <button type="submit">Submit</button>
    </form>
</div>
<div *ngIf="errorMessage" class="text-danger">
    {{errorMessage}}
  </div>
  <div *ngIf="successMessage" class="text-danger">
    {{successMessage}}
  </div>
</div>
<router-outlet></router-outlet>