
<button (click)="getUserBooking()">My Bookings</button>
<div *ngIf="booking.length!=0" class="table parent">
    <table>
        <tr>
            <th>Id</th>
            <th>Plane Id</th>
            <th>Source</th>
            <th>Destination</th>
            <th>Booking Date</th>
            <th>Journey Date</th>
            <th>Fare</th>
            <th>seatNumber</th>
            <th>bookedBy</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let b of booking">
            <td>{{ b.id }}</td>
            <td>{{ b.planeId }}</td>
            <td><h6>{{ b.source | uppercase}}</h6></td>
            <td><h6>{{ b.destination | uppercase }}</h6></td>
            <td><h6>{{ b.bookingDateTime | date :'h:mm a' }}</h6>{{ b.bookingDateTime | date :'dd MMM yyyy' }} </td>
            <td><h6>{{ b.journeyDateTime | date :'h:mm a' }}</h6>{{ b.journeyDateTime | date :'dd MMM yyyy' }} </td>
            <td><h6>{{ b.fare | currency:'INR'}}</h6></td>      
            <td><h6>{{ b.seatNumber | uppercase }}</h6></td>
            <td><h6>{{ b.bookedBy | uppercase }}</h6></td>
            <td><button  class="btn btn-primary" (click)="cancelBooking(b)">Cancel</button></td>
        </tr>
    </table>
  </div>
  <router-outlet></router-outlet>